@import url("style.css");
@import url("recording-section.css");
@import url("scheduling-section.css");
@import url("list-section.css");

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  padding: 0 20px;

}

.main-content h1 {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 500;

}

.recording-container {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 20px;
}

.recording-plan-list {
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 20px 20px;

}

::-webkit-scrollbar {
  width:10px;
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  background: var(--quaternary-color);
  border-radius: 1px;
}



